@import "tipsy";

.ext-github-plus-logo
{
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: 0.25;
}

.ext-github-plus-logo:hover {
    cursor: pointer;
    opacity: 1.0;
}

.ext-github-plus-button.new-issue
{
    position: absolute;
}