<li class="tooltipped tooltipped-w" aria-label="{{title}}">
    <a href="{{url}}" aria-label="{{title}}" class="{{#selected}}selected {{/selected}}js-selected-navigation-item sunken-menu-item js-disable-pjax" {{#hotkey}}data-hotkey="{{hotkey}}" {{/hotkey}}data-selected-links="repo_{{key}} {{url}}">
        <span class="octicon octicon-{{icon}}"></span> <span class="full-word">{{title}}</span>
        {{#num}}<span class="counter">{{num}}</span>{{/num}}
    </a>
</li>