<li class="tooltipped tooltipped-w" aria-label="Milestones">
    <a href="{{url}}/milestones" aria-label="Milestones" class="js-selected-navigation-item sunken-menu-item js-disable-pjax" data-hotkey="g m" data-selected-links="repo_milestones {{url}}/milestones">
        <span class="octicon octicon-gear"></span> <span class="full-word">Milestones</span>
        <span class="counter">0</span>
    </a>
</li>